.privacy-policy-container {
  padding: 0 12px 12px;
}

.privacy-policy-container .title-container {
  padding: 12px !important;
}

@media (max-width: 600px) {
  .privacy-policy-container {
    padding: 0 8px 8px;
  }

  .privacy-policy-container .title-container {
    padding: 8px !important;
  }
}
