.privacy-policy-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1e1e1e;
  line-height: 1.7;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.policy-header {
  background: linear-gradient(to right, #2c0e5c, #173e7c);
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.policy-header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.policy-content {
  position: relative;
  z-index: 111;
  max-width: 900px;
  /* margin: 40px auto; */
  padding: 0 20px;
  /* background: #fff; */
}

.policy-content h2 {
  font-size: 1.4rem;
  margin-top: 30px;
  /* color: #2c0e5c; */
  color: "#475569";
  z-index: 20;
}

.policy-content p {
  margin-top: 10px;
  font-size: 1rem;
}

.policy-content a {
  color: #173e7c;
  text-decoration: underline;
}
