.about-us-container {
  padding: 0 12px 12px;
}

.about-us-container .title-container {
  padding: 12px !important;
}

@media (max-width: 600px) {
  .about-us-container {
    padding: 0 8px 8px;
  }

  .about-us-container .title-container {
    padding: 8px !important;
  }
}
